:root {
    --accent-color: #2196F3;;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --main-background-color: #ffffff;
    --secondary-background-color: #2F303A;
}

html {
    box-sizing: border-box;
}

/* *, 
*::before, 
*::after {
    box-sizing: inherit;
} */

body {
    font-family: "Roboto";
    font-size: 14px;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    background-color:var(--mail-background-color);
    margin: 0px;
}

h1,
h2,
h3,
ul,
p {
    margin: 0px;
}

img {
    display: block;
    /* margin-bottom: 30px; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*------------zero-----------------*/

.list {
    list-style: none;
    margin-left: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
}

/* ------------------header--------------------- */
.main-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin-left: 93px;
    
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list .item + .item {
    margin-left: 50px;
}

/* .nav-list .item {
margin-right: 50px;
}

.nav-list .item:last-child {
margin-right: 0;
} */

.nav-list .item + .item {
    margin-left: 50px;
}
 
.filter-list .filter-item + .filter-item {
    margin-left: 9px;
}

/* .nav-list .item:not(:last-child) {

} */

li.nav-item {
    font-style: normal;
    text-decoration: none;
    /* margin-bottom: 9px; */
}

li.nav-item.no-margin {
    margin-bottom: 0;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}



.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: #000000;
}

.white-logo {
    margin-left: -5px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.accent {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.header-phone {
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header-mail:hover, .header-mail:focus {
    color: var(--accent-color);
}

.header-phone:hover, .header-phone:focus {
    color: var(--accent-color);
}




.header-button {
    display: inline-block;
    padding: 10px 32px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

.filter-button {
    display: inline-block;
    padding: 6px 25px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

.filter-kit {
    text-align: center;
    margin-bottom: 50px;
}

.filter-button:hover, .filter-button:focus {
    color:#FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.header-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.header-padding {
    padding-top: 24px;
    padding-bottom: 24px;
}
/* -------------------hero---------------------- */
.hero {
    text-align: center;
    background-color: var(--secondary-background-color);
    padding: 200px 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hero-name {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--main-background-color);
}

.hero-content {
    width: 696px;
    align: center;
}



.section.no-padding {
    padding-bottom: 0px;
}

.section.no-top {
    padding-top: 0px;
}

/* .hero-padding {
    padding-top: 200px;
    padding-bottom: 200px;
} */



/* -----------------what we do----------------- */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    gap: 30px;
    /* justify-content: space-between; */
}

.flex-container-studio {
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    /* gap: 30px; */
    /* justify-content: space-between; */
}

.element-item {
    /* width: 370px; */
    width: calc((100% - 60px) / 3);
    /* margin-right: 30px;
    margin-bottom: 30px; */
    border: solid 1px #EEEEEE;
}

.project-grid {
    padding: 30px 24px;
}

.team-item {
    width: 270px;
    /* width: calc((100% - 60px) /4); */
    margin-right: 30px; 
}

.team-item {
    background-color: #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 0px 2px
    rgba(0, 0, 0, 0.2),
    0px 1px 0px 1px
    rgba(0, 0, 0, 0.14),
    0px 3px 0px 1px
    rgba(0, 0, 0, 0.12);
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 0;
}

.section-item:nth-child(3n) {
    margin-right: 0;
}

.element-item:nth-child(3n) {
    margin-right: 0;
}

/* .element-item:nth-last-child(-n+3) {
    margin-bottom: 0;
} */
 
.team {
    background-color: #F5F4FA;
}

.team-item:nth-child(4n) {
    margin-right: 0;
}

.filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-list .item {
    width: 270px;
    margin-right: 30px;
}

.feature-list .item:nth-child(4n) {
    margin-right: 0;
}

.service-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16/14);
    text-transform: uppercase;
    
    color:var(--primary-text-color);
}

.service-description {
    line-height: calc(24/14);
    color:var(--secondary-text-color);
}

.section-title {
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    margin-bottom: 50px;
}

.project-title {
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-type-title {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--secondary-text-color);
}

p.project-type-title {
    display: box;
    /* margin-bottom: 20px; */
    /* border-bottom: solid 1px #EEEEEE; */
}

/* --------------------our team------------- */
.element-item img {
    /* margin-bottom: 20px; */
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    margin-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--secondary-text-color);
}

/*------------------footer-------------*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
}

.address {
    line-height: 1.74;
    color: var(--main-background-color);
}


.footer-mail:hover, .footer-mail:focus {
    color: var(--accent-color);
} 

.footer-phone:hover, .footer-phone:focus {
    color: var(--accent-color);
}

.footer-mail {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.logo-margin {
    margin-bottom: 20px;
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}